body {
    background: #F9F9F9; /*#F9F9F9 white*/
/*    text-align: center;*/
    letter-spacing: 1px;
    font-family: "monospace", "FreeMono", monospace;
    margin:0;
    overflow-x: hidden;
}
h1{
border-color:black;
}
button.tab_button{
    font-size: 4vh;
    background-color: transparent;
    position: absolute;
    border: none;
    
}

div.file-claim-panel{
    bottom: 0;
    right: 0;
    display: flex;
    position: absolute;
    background-color: #F9F9F9;
    border-top: 1px black solid;
    border-left: 1px black solid;
    transition: all 0.3s ease-in-out;
}

form{
    margin: auto;
    text-align: center;
}

img.file-claim-button{
    text-decoration: none;
    border: none;
    transition: all 0.3s ease-in-out;
    height: 14vh;
    background-color: #F9F9F9;
}
img.file-claim-button:hover{
    height: 13vh;
    background-color: #F9F9F9;
    cursor: pointer;
}

button.file-claim-button{
    background-color: transparent;
    border: none;
}

iframe.home_panel{
    width: 100%;
    height: 100%;
    padding-top: 5vh;
}

button.tab_button:hover{
    font-size: 4vh;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    border: none;
    color:blue;
}

button.claim-button:hover{
    background-color: transparent;
    color:blue;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

button.claim-button{
    background-color: transparent;
    border: none;
    font-weight: bold;
}

div.coverage-tab1{
    border: solid black 3px;
    height: 7vh;
    width: 75vw;
    overflow: hidden;
    display: block;
    margin: 3vh;
    transition: all 0.3s ease-in-out;
}
div.coverage-tab2{
    border: solid black 3px;
    height: 7vh;
    width: 75vw;
    overflow: hidden;
    display: block;
    top: 25%;
    margin: 3vh;
    transition: all 0.3s ease-in-out;
}

div.settings{
    border: solid black 3px;
    height: 25vh;
    width: 20vw;
    overflow: hidden;
    position: absolute;
    right: 0%;
    display: flex;
    margin: 3vh;
    float: right;
    transition: all 0.3s ease-in-out;
    
}

h1{
    text-align: center;
}

a.nav{
    color: white;
    text-decoration: none;
}
a.nav:hover{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

p.login-text{
    text-align: center;
}

.item2{
    grid-area: picture;
}
nav.nav{
    text-align:center
}
p{
    text-align: left;
    width: 80%;
    margin: 20px auto;
}

td{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.grid{
    display: grid;

    grid-template-areas:
        'header'
        'menu'
        'body';
   grid-auto-flow: row;
/*   grid-template-columns: .33fr .33fr .33fr;*/
   /* use fr units to define the relative proportions of each column, 
    * and it looked to me like you had 4 columns on your pages.
    * .25fr is like saying 25% of 100.   */     
        
}

div.home-coverage{
    margin: 1vh;
    border: solid black 5px;
}

div.header{
    grid-area: header;
}

div.nav{
    grid-area: menu;
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: #333;
    font-size: x-large;
    width: 100%;
    color: white;
}

div.body{
    grid-area: body;
}

ul{
   list-style-type: none; 
}

table.claims-list{
    position: absolute;
    margin: 3vh;
    right: 2vh;
}

svg.progress-graph{
    position: absolute;
    float: left;
    left: 2vh;
}
