body {
    background: #F9F9F9; /*#F9F9F9 white*/
/*    text-align: center;*/
    letter-spacing: 1px;
    font-family: "monospace", "FreeMono", monospace;
    margin:0;
    overflow-x: hidden;
}

button.tab_button{
    font-size: 4vh;
    position: absolute;
}

div.coverage-tab{
    border: solid black 3px;
    height: 7vh;
    overflow: hidden;
    display: block;
    margin: 3vh;
    transition: all 0.3s ease-in-out;
}

h1{
    text-align: center;
}

.item2{
    grid-area: picture;
}
nav.nav{
    text-align:center
}
p{
    text-align: left;
    width: 80%;
    margin: 20px auto;
}

.grid{
    display: grid;

    grid-template-areas:
        'header'
        'menu'
        'body';
   grid-auto-flow: row;
/*   grid-template-columns: .33fr .33fr .33fr;*/
   /* use fr units to define the relative proportions of each column, 
    * and it looked to me like you had 4 columns on your pages.
    * .25fr is like saying 25% of 100.   */     
        
}

div.home-coverage{
    margin: 1vh;
    border: solid black 5px;
}

svg.svg_graphic{
    float: left;
    margin: 5vh;
}

div.header{
    grid-area: header;
}

div.nav{
    grid-area: menu;
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: #333;
    font-size: x-large;
    width: 100%;
    color: white;
}

div.body{
    grid-area: body;
}

ul{
   list-style-type: none; 
}