.circle_graphic {
    transition: all 0.3s ease-in-out;
}

.circle_graphic:hover {
    animation: select 0.5s both;
}

@keyframes select {
    from{
        stroke-width: 25;
    }
    
    to{
        stroke-width: 45;
    }
}

.circle_select {
    stroke-width: 45;
}
